[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pelican = "*"
crowsfoot = { git = 'https://github.com/porterjamesj/crowsfoot.git' }

[requires]
python_version = "3.7"
